@using System.Web.UI.WebControls


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/> 
    <link href="~/Styles/bootstrap.css" rel="stylesheet" />   
    <link href="~/Styles/AdminLogin.css" rel="stylesheet" />
    <title>Login Page</title>

</head>
<body>
@using (Html.BeginForm("Login", "SysAdmin", FormMethod.Post))
{
    <div class="form-group">
        <label for="username">User Name</label>
        @*<input type="text" class="form-control" name="loginId" id="username" placeholder="Email">*@
        @Html.TextBox("LoginId", null, new {@class = "form-control", PlaceHolder = "User Name"})
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        @*<input type="password" class="form-control" name="loginPwd" id="password" placeholder="Password">*@
        @Html.Password("LoginPwd", null, new {@class = "form-control", PlaceHolder = "Password"})
    </div>
    <button type="submit" class="btn btn-default">Login</button>

}



<div>
    @ViewData["info"]
</div>
</body>
</html>