@model HandleErrorInfo
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="Styles/bootstrap.css" rel="stylesheet" />
    <style type="text/css">
        body {
            margin: 0 auto;
        }
    </style>
    <title>Error</title>
</head>
<body class="col-lg-6 col-lg-push-3">
<div>
    <h2>Sorry, there is an error when we process your request. Please contact administration!</h2>
    <h3>Error source:</h3>
    <div>
        <ul>
            <li>Controller Name:@Model.ControllerName</li>
            <li>Action Name:@Model.ActionName</li>
        </ul>
    </div>
    <h3>
        Excepton information:
    </h3>
    <div style="overflow: auto;">
        @Model.Exception.Message
    </div>
</div>

</body>
</html>
