

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StudentManage</title>
</head>
<body>
    <div>
        @ViewData["info"]
    </div>
</body>
</html>
