@using Model


<!DOCTYPE html>

@{
    string adminName = ((SysAdmin) Session["CurrentAdmin"]).AdminName;
    string query = (string) Session["query"];
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
    <link href="~/Styles/bootstrap.css" rel="stylesheet" />
    <link href="~/Styles/StudentManage.css" rel="stylesheet" />
    <title>Student Management</title>
</head>
<body class="col-lg-8 col-lg-push-2">
<div>
    <p class="bg-primary">
        Current User: @adminName
    </p>
</div>
<br/>
<div class="query-div">
    <form method="post" action="/Student/GetList">
        Class Query: <input type="text" name="query" value="@query" />
        <input class="btn btn-primary" type="submit" value="Query" />
        <a href="/Student/NewStudent"><input class="btn btn-primary" type="button" value="New Student" /></a>    
    </form>
</div>
<table class="table">
    
       @{
    if (ViewBag.stuList != null)
    {
        foreach (Student objStudent in ViewBag.stuList)
        {
            <tr>
                <td>
                    @objStudent.StudentId
                </td>
                <td>
                    @objStudent.StudentName
                </td>
                <td>
                    @objStudent.Gender
                </td>
                <td>
                    <a href="/Student/GetStudent/?stuId=@objStudent.StudentId">Edit</a>
                </td>
                <td>
                    <a href="/Student/ViewStudent/?stuId=@objStudent.StudentId">View</a>
                </td>
                <td>
                    <a href="/Student/DeleteStudent/?stuId=@objStudent.StudentId">Delete</a>
                </td>
            </tr>
        }
    }
} 
    
</table>
</body>
</html>
