
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Styles/bootstrap.css" rel="stylesheet" />
    <link href="~/Styles/File.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body class="col-lg-6 col-lg-push-3">
    <div class="btn-area">
        @using (Html.BeginForm("UploadFile", "File", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input class="form-control" type="file" name="file" />
            <input class="btn btn-primary" type="submit" name="upload" value="Submit" />
        }
    </div>
</body>
</html>
